.DS_Store
.vscode/
dev.code-workspace
*.pyc
.dev*
dev_chat.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
dev/__version__.py
dev/_version.py
.venv/
.#*
.gitattributes
tmp.benchmarks/