.DS_Store
.vscode/
hanzo_developer.code-workspace
*.pyc
.hanzo_developer*
hanzo_developer.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
hanzo_developer/__version__.py
hanzo_developer/_version.py
.dev.tags.cache.v3/
.dev.*
.venv/
.#*
.gitattributes
tmp.benchmarks/
venv/