{"openapi":"3.1.0","info":{"title":"hanzo cloud API","description":"Generated from the live router at request time — every operation below is a route this process actually serves. Tagged by product: the first path segment after /v1/.","version":"dev"},"servers":[{"url":"https://api.hanzo.ai"}],"tags":[{"name":"account"},{"name":"account-bridge"},{"name":"admin"},{"name":"ads"},{"name":"affiliates"},{"name":"agent"},{"name":"agent-bindings"},{"name":"agents"},{"name":"agentskills"},{"name":"ai"},{"name":"analytics"},{"name":"audit"},{"name":"authors"},{"name":"authz"},{"name":"automations"},{"name":"base"},{"name":"billing"},{"name":"bot"},{"name":"bots"},{"name":"builds"},{"name":"captable"},{"name":"catalogsync"},{"name":"clusters"},{"name":"code"},{"name":"commerce"},{"name":"company"},{"name":"compute"},{"name":"connector"},{"name":"content"},{"name":"crm"},{"name":"csrf"},{"name":"dataroom"},{"name":"datastore"},{"name":"deploy"},{"name":"do"},{"name":"docdb"},{"name":"download"},{"name":"edge"},{"name":"embed-status"},{"name":"enablement"},{"name":"entitlements"},{"name":"environments"},{"name":"evals"},{"name":"exec"},{"name":"featuregate"},{"name":"files"},{"name":"finance"},{"name":"flags"},{"name":"fleet"},{"name":"framework"},{"name":"functions"},{"name":"gateway"},{"name":"git"},{"name":"gpus"},{"name":"graph"},{"name":"guide"},{"name":"iam"},{"name":"indexers"},{"name":"insights"},{"name":"integrations"},{"name":"kafka"},{"name":"kb"},{"name":"kms"},{"name":"knowledge"},{"name":"kv"},{"name":"licensing"},{"name":"link"},{"name":"links"},{"name":"load-balancers"},{"name":"logs"},{"name":"machines"},{"name":"marketing"},{"name":"marketplace"},{"name":"mesh"},{"name":"metrics"},{"name":"ml"},{"name":"networks"},{"name":"notify"},{"name":"o11y"},{"name":"oracles"},{"name":"orgs"},{"name":"paas"},{"name":"pipelines"},{"name":"plans"},{"name":"platform"},{"name":"plugins"},{"name":"pricing"},{"name":"pricing-policy"},{"name":"product"},{"name":"projects"},{"name":"prompts"},{"name":"provisioning"},{"name":"pubsub"},{"name":"referrals"},{"name":"releases"},{"name":"run"},{"name":"runner"},{"name":"runtime"},{"name":"s3"},{"name":"sbom"},{"name":"search"},{"name":"search-docs"},{"name":"security"},{"name":"sentry"},{"name":"settings"},{"name":"sign"},{"name":"sites"},{"name":"social"},{"name":"sql"},{"name":"store"},{"name":"sync"},{"name":"tasks"},{"name":"team"},{"name":"templates"},{"name":"tools"},{"name":"traces"},{"name":"tracker"},{"name":"train"},{"name":"treasury"},{"name":"upload"},{"name":"usage"},{"name":"vector"},{"name":"visor"},{"name":"vpcs"},{"name":"waitlist"},{"name":"wallets"},{"name":"websearch"},{"name":"world"},{"name":"x402"},{"name":"zen"},{"name":"zero-trust"}],"paths":{"/.well-known/agent-skills/index.json":{"get":{"operationId":"get_.well-known_agent-skills_index.json"}},"/.well-known/agent-skills/{skill}/SKILL.md":{"get":{"operationId":"get_.well-known_agent-skills_by_skill_skill.md","parameters":[{"name":"skill","in":"path","required":true,"schema":{"type":"string"}}]}},"/_/commerce":{"get":{"operationId":"get___commerce"}},"/_/commerce/healthz":{"get":{"operationId":"get___commerce_healthz"}},"/_/commerce/providers":{"get":{"operationId":"get___commerce_providers"}},"/_/commerce/tenants":{"post":{"operationId":"post___commerce_tenants"}},"/_/commerce/ui":{"get":{"operationId":"get___commerce_ui"}},"/_/commerce/ui/{wildcard1}":{"get":{"operationId":"get___commerce_ui_by_wildcard1","parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/git":{"get":{"operationId":"get_git"}},"/git/{org}/{repo}":{"get":{"operationId":"get_git_by_org_by_repo","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}}]}},"/git/{org}/{repo}/blob/{wildcard1}":{"get":{"operationId":"get_git_by_org_by_repo_blob_by_wildcard1","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/git/{org}/{repo}/commits":{"get":{"operationId":"get_git_by_org_by_repo_commits","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}}]}},"/git/{org}/{repo}/tree/{wildcard1}":{"get":{"operationId":"get_git_by_org_by_repo_tree_by_wildcard1","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/tasks":{"delete":{"operationId":"delete_tasks"},"get":{"operationId":"get_tasks"},"options":{"operationId":"options_tasks"},"patch":{"operationId":"patch_tasks"},"post":{"operationId":"post_tasks"},"put":{"operationId":"put_tasks"},"trace":{"operationId":"trace_tasks"}},"/tasks/{wildcard1}":{"delete":{"operationId":"delete_tasks_by_wildcard1","parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_tasks_by_wildcard1","parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_tasks_by_wildcard1","parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_tasks_by_wildcard1","parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_tasks_by_wildcard1","parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_tasks_by_wildcard1","parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_tasks_by_wildcard1","parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/account-bridge/health":{"get":{"operationId":"get_v1_account-bridge_health","tags":["account-bridge"]}},"/v1/account/health":{"get":{"operationId":"get_v1_account_health","tags":["account"]}},"/v1/admin/affiliates":{"get":{"operationId":"get_v1_admin_affiliates","tags":["admin"]}},"/v1/admin/affiliates/sweep":{"post":{"operationId":"post_v1_admin_affiliates_sweep","tags":["admin"]}},"/v1/admin/affiliates/{id}/approve":{"post":{"operationId":"post_v1_admin_affiliates_by_id_approve","tags":["admin"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/affiliates/{id}/payout":{"post":{"operationId":"post_v1_admin_affiliates_by_id_payout","tags":["admin"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/affiliates/{id}/rate":{"post":{"operationId":"post_v1_admin_affiliates_by_id_rate","tags":["admin"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/affiliates/{id}/suspend":{"post":{"operationId":"post_v1_admin_affiliates_by_id_suspend","tags":["admin"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/analytics":{"get":{"operationId":"get_v1_admin_analytics","tags":["admin"]}},"/v1/admin/applications":{"get":{"operationId":"get_v1_admin_applications","tags":["admin"]}},"/v1/admin/audit":{"get":{"operationId":"get_v1_admin_audit","tags":["admin"]}},"/v1/admin/audit/verify":{"get":{"operationId":"get_v1_admin_audit_verify","tags":["admin"]}},"/v1/admin/authors":{"get":{"operationId":"get_v1_admin_authors","tags":["admin"]}},"/v1/admin/authors/sweep":{"post":{"operationId":"post_v1_admin_authors_sweep","tags":["admin"]}},"/v1/admin/authors/{id}/approve":{"post":{"operationId":"post_v1_admin_authors_by_id_approve","tags":["admin"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/authors/{id}/payout":{"post":{"operationId":"post_v1_admin_authors_by_id_payout","tags":["admin"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/authors/{id}/suspend":{"post":{"operationId":"post_v1_admin_authors_by_id_suspend","tags":["admin"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/bases":{"get":{"operationId":"get_v1_admin_bases","tags":["admin"]}},"/v1/admin/catalog":{"get":{"operationId":"get_v1_admin_catalog","tags":["admin"]}},"/v1/admin/catalog/models/{wildcard1}":{"patch":{"operationId":"patch_v1_admin_catalog_models_by_wildcard1","tags":["admin"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/catalog/providers/{name}":{"patch":{"operationId":"patch_v1_admin_catalog_providers_by_name","tags":["admin"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/compute":{"get":{"operationId":"get_v1_admin_compute","tags":["admin"]}},"/v1/admin/customers":{"get":{"operationId":"get_v1_admin_customers","tags":["admin"]}},"/v1/admin/customers/{org}":{"get":{"operationId":"get_v1_admin_customers_by_org","tags":["admin"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/customers/{org}/credit":{"post":{"operationId":"post_v1_admin_customers_by_org_credit","tags":["admin"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/customers/{org}/reactivate":{"post":{"operationId":"post_v1_admin_customers_by_org_reactivate","tags":["admin"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/customers/{org}/suspend":{"post":{"operationId":"post_v1_admin_customers_by_org_suspend","tags":["admin"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/enablement":{"get":{"operationId":"get_v1_admin_enablement","tags":["admin"]},"put":{"operationId":"put_v1_admin_enablement","tags":["admin"]}},"/v1/admin/finance":{"get":{"operationId":"get_v1_admin_finance","tags":["admin"]}},"/v1/admin/finance/backfill":{"post":{"operationId":"post_v1_admin_finance_backfill","tags":["admin"]}},"/v1/admin/finance/deposit":{"post":{"operationId":"post_v1_admin_finance_deposit","tags":["admin"]}},"/v1/admin/flags":{"get":{"operationId":"get_v1_admin_flags","tags":["admin"]}},"/v1/admin/flags/{key}":{"put":{"operationId":"put_v1_admin_flags_by_key","tags":["admin"],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/grants":{"get":{"operationId":"get_v1_admin_grants","tags":["admin"]},"post":{"operationId":"post_v1_admin_grants","tags":["admin"]}},"/v1/admin/health":{"get":{"operationId":"get_v1_admin_health","tags":["admin"]}},"/v1/admin/me":{"get":{"operationId":"get_v1_admin_me","tags":["admin"]}},"/v1/admin/o11y":{"get":{"operationId":"get_v1_admin_o11y","tags":["admin"]}},"/v1/admin/orgs":{"get":{"operationId":"get_v1_admin_orgs","tags":["admin"]}},"/v1/admin/overview":{"get":{"operationId":"get_v1_admin_overview","tags":["admin"]}},"/v1/admin/products":{"get":{"operationId":"get_v1_admin_products","tags":["admin"]}},"/v1/admin/providers/credit":{"get":{"operationId":"get_v1_admin_providers_credit","tags":["admin"]}},"/v1/admin/referrals":{"get":{"operationId":"get_v1_admin_referrals","tags":["admin"]}},"/v1/admin/referrals/bonuses":{"get":{"operationId":"get_v1_admin_referrals_bonuses","tags":["admin"]}},"/v1/admin/referrals/sweep":{"post":{"operationId":"post_v1_admin_referrals_sweep","tags":["admin"]}},"/v1/admin/revenue":{"get":{"operationId":"get_v1_admin_revenue","tags":["admin"]}},"/v1/admin/roles":{"get":{"operationId":"get_v1_admin_roles","tags":["admin"]}},"/v1/admin/services":{"get":{"operationId":"get_v1_admin_services","tags":["admin"]},"post":{"operationId":"post_v1_admin_services","tags":["admin"]}},"/v1/admin/services/{service}/mode":{"post":{"operationId":"post_v1_admin_services_by_service_mode","tags":["admin"],"parameters":[{"name":"service","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/sync":{"post":{"operationId":"post_v1_admin_sync","tags":["admin"]}},"/v1/admin/treasury":{"get":{"operationId":"get_v1_admin_treasury","tags":["admin"]}},"/v1/admin/treasury/anchor":{"post":{"operationId":"post_v1_admin_treasury_anchor","tags":["admin"]}},"/v1/admin/treasury/bind-anchor":{"post":{"operationId":"post_v1_admin_treasury_bind-anchor","tags":["admin"]}},"/v1/admin/treasury/policy":{"post":{"operationId":"post_v1_admin_treasury_policy","tags":["admin"]}},"/v1/admin/treasury/seed":{"post":{"operationId":"post_v1_admin_treasury_seed","tags":["admin"]}},"/v1/admin/treasury/sweep":{"post":{"operationId":"post_v1_admin_treasury_sweep","tags":["admin"]}},"/v1/admin/usage":{"get":{"operationId":"get_v1_admin_usage","tags":["admin"]}},"/v1/admin/usage/funding":{"get":{"operationId":"get_v1_admin_usage_funding","tags":["admin"]}},"/v1/admin/users":{"get":{"operationId":"get_v1_admin_users","tags":["admin"]}},"/v1/admin/waitlist":{"get":{"operationId":"get_v1_admin_waitlist","tags":["admin"]}},"/v1/admin/waitlist/boost":{"post":{"operationId":"post_v1_admin_waitlist_boost","tags":["admin"]}},"/v1/ads/campaigns":{"get":{"operationId":"get_v1_ads_campaigns","tags":["ads"]},"post":{"operationId":"post_v1_ads_campaigns","tags":["ads"]}},"/v1/ads/campaigns/{id}":{"delete":{"operationId":"delete_v1_ads_campaigns_by_id","tags":["ads"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_ads_campaigns_by_id","tags":["ads"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_ads_campaigns_by_id","tags":["ads"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/ads/health":{"get":{"operationId":"get_v1_ads_health","tags":["ads"]}},"/v1/ads/summary":{"get":{"operationId":"get_v1_ads_summary","tags":["ads"]}},"/v1/affiliates":{"get":{"operationId":"get_v1_affiliates","tags":["affiliates"]}},"/v1/affiliates/apply":{"post":{"operationId":"post_v1_affiliates_apply","tags":["affiliates"]}},"/v1/affiliates/attribute":{"post":{"operationId":"post_v1_affiliates_attribute","tags":["affiliates"]}},"/v1/affiliates/click":{"post":{"operationId":"post_v1_affiliates_click","tags":["affiliates"]}},"/v1/affiliates/health":{"get":{"operationId":"get_v1_affiliates_health","tags":["affiliates"]}},"/v1/affiliates/leaderboard":{"get":{"operationId":"get_v1_affiliates_leaderboard","tags":["affiliates"]}},"/v1/affiliates/me":{"get":{"operationId":"get_v1_affiliates_me","tags":["affiliates"]}},"/v1/affiliates/me/earnings":{"get":{"operationId":"get_v1_affiliates_me_earnings","tags":["affiliates"]}},"/v1/affiliates/me/handle":{"post":{"operationId":"post_v1_affiliates_me_handle","tags":["affiliates"]}},"/v1/affiliates/me/links":{"get":{"operationId":"get_v1_affiliates_me_links","tags":["affiliates"]},"post":{"operationId":"post_v1_affiliates_me_links","tags":["affiliates"]}},"/v1/agent":{"post":{"operationId":"post_v1_agent","tags":["agent"]}},"/v1/agent-bindings":{"get":{"operationId":"get_v1_agent-bindings","tags":["agent-bindings"]}},"/v1/agent/conversations":{"get":{"operationId":"get_v1_agent_conversations","tags":["agent"]}},"/v1/agent/conversations/{id}":{"get":{"operationId":"get_v1_agent_conversations_by_id","tags":["agent"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agent/health":{"get":{"operationId":"get_v1_agent_health","tags":["agent"]}},"/v1/agent/presets":{"get":{"operationId":"get_v1_agent_presets","tags":["agent"]}},"/v1/agents":{"get":{"operationId":"get_v1_agents","tags":["agents"]},"post":{"operationId":"post_v1_agents","tags":["agents"]}},"/v1/agents/activity":{"get":{"operationId":"get_v1_agents_activity","tags":["agents"]}},"/v1/agents/health":{"get":{"operationId":"get_v1_agents_health","tags":["agents"]}},"/v1/agents/metrics":{"get":{"operationId":"get_v1_agents_metrics","tags":["agents"]}},"/v1/agents/sessions":{"get":{"operationId":"get_v1_agents_sessions","tags":["agents"]},"post":{"operationId":"post_v1_agents_sessions","tags":["agents"]}},"/v1/agents/sessions/stream":{"get":{"operationId":"get_v1_agents_sessions_stream","tags":["agents"]}},"/v1/agents/sessions/{id}":{"get":{"operationId":"get_v1_agents_sessions_by_id","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_agents_sessions_by_id","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/sessions/{id}/events":{"post":{"operationId":"post_v1_agents_sessions_by_id_events","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/sessions/{id}/message":{"post":{"operationId":"post_v1_agents_sessions_by_id_message","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/sessions/{id}/pause":{"post":{"operationId":"post_v1_agents_sessions_by_id_pause","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/sessions/{id}/resume":{"post":{"operationId":"post_v1_agents_sessions_by_id_resume","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/sessions/{id}/stop":{"post":{"operationId":"post_v1_agents_sessions_by_id_stop","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/sessions/{id}/tree":{"get":{"operationId":"get_v1_agents_sessions_by_id_tree","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/targets":{"get":{"operationId":"get_v1_agents_targets","tags":["agents"]},"post":{"operationId":"post_v1_agents_targets","tags":["agents"]}},"/v1/agents/targets/{id}":{"delete":{"operationId":"delete_v1_agents_targets_by_id","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_agents_targets_by_id","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_agents_targets_by_id","tags":["agents"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/{ref}":{"delete":{"operationId":"delete_v1_agents_by_ref","tags":["agents"],"parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_agents_by_ref","tags":["agents"],"parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_agents_by_ref","tags":["agents"],"parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/{ref}/run":{"post":{"operationId":"post_v1_agents_by_ref_run","tags":["agents"],"parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agents/{ref}/runs":{"get":{"operationId":"get_v1_agents_by_ref_runs","tags":["agents"],"parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/agentskills/health":{"get":{"operationId":"get_v1_agentskills_health","tags":["agentskills"]}},"/v1/ai/health":{"get":{"operationId":"get_v1_ai_health","tags":["ai"]}},"/v1/analytics":{"post":{"operationId":"post_v1_analytics","tags":["analytics"]}},"/v1/analytics/batch":{"post":{"operationId":"post_v1_analytics_batch","tags":["analytics"]}},"/v1/analytics/health":{"get":{"operationId":"get_v1_analytics_health","tags":["analytics"]}},"/v1/analytics/overview":{"get":{"operationId":"get_v1_analytics_overview","tags":["analytics"]}},"/v1/analytics/timeseries":{"get":{"operationId":"get_v1_analytics_timeseries","tags":["analytics"]}},"/v1/analytics/top":{"get":{"operationId":"get_v1_analytics_top","tags":["analytics"]}},"/v1/audit":{"get":{"operationId":"get_v1_audit","tags":["audit"]}},"/v1/audit/health":{"get":{"operationId":"get_v1_audit_health","tags":["audit"]}},"/v1/authors":{"get":{"operationId":"get_v1_authors","tags":["authors"]}},"/v1/authors/connect":{"post":{"operationId":"post_v1_authors_connect","tags":["authors"]}},"/v1/authors/deploys/record":{"post":{"operationId":"post_v1_authors_deploys_record","tags":["authors"]}},"/v1/authors/health":{"get":{"operationId":"get_v1_authors_health","tags":["authors"]}},"/v1/authors/repos/verify":{"post":{"operationId":"post_v1_authors_repos_verify","tags":["authors"]}},"/v1/authz/check":{"post":{"operationId":"post_v1_authz_check","tags":["authz"]}},"/v1/authz/health":{"get":{"operationId":"get_v1_authz_health","tags":["authz"]}},"/v1/authz/policies":{"delete":{"operationId":"delete_v1_authz_policies","tags":["authz"]},"get":{"operationId":"get_v1_authz_policies","tags":["authz"]},"post":{"operationId":"post_v1_authz_policies","tags":["authz"]}},"/v1/authz/readyz":{"get":{"operationId":"get_v1_authz_readyz","tags":["authz"]}},"/v1/automations/connectors":{"get":{"operationId":"get_v1_automations_connectors","tags":["automations"]}},"/v1/automations/connectors/{id}/run":{"post":{"operationId":"post_v1_automations_connectors_by_id_run","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/automations/flows":{"get":{"operationId":"get_v1_automations_flows","tags":["automations"]},"post":{"operationId":"post_v1_automations_flows","tags":["automations"]}},"/v1/automations/flows/{id}":{"delete":{"operationId":"delete_v1_automations_flows_by_id","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_automations_flows_by_id","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_automations_flows_by_id","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/automations/flows/{id}/disable":{"post":{"operationId":"post_v1_automations_flows_by_id_disable","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/automations/flows/{id}/enable":{"post":{"operationId":"post_v1_automations_flows_by_id_enable","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/automations/flows/{id}/operations":{"post":{"operationId":"post_v1_automations_flows_by_id_operations","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/automations/flows/{id}/run":{"post":{"operationId":"post_v1_automations_flows_by_id_run","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/automations/flows/{id}/versions":{"get":{"operationId":"get_v1_automations_flows_by_id_versions","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_automations_flows_by_id_versions","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/automations/health":{"get":{"operationId":"get_v1_automations_health","tags":["automations"]}},"/v1/automations/mcp":{"post":{"operationId":"post_v1_automations_mcp","tags":["automations"]}},"/v1/automations/pieces":{"get":{"operationId":"get_v1_automations_pieces","tags":["automations"]}},"/v1/automations/runs":{"get":{"operationId":"get_v1_automations_runs","tags":["automations"]}},"/v1/automations/runs/{id}":{"get":{"operationId":"get_v1_automations_runs_by_id","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/automations/runs/{id}/resume":{"post":{"operationId":"post_v1_automations_runs_by_id_resume","tags":["automations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/base/health":{"get":{"operationId":"get_v1_base_health","tags":["base"]}},"/v1/base/{wildcard1}":{"delete":{"operationId":"delete_v1_base_by_wildcard1","tags":["base"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_base_by_wildcard1","tags":["base"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_v1_base_by_wildcard1","tags":["base"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_base_by_wildcard1","tags":["base"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_base_by_wildcard1","tags":["base"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_base_by_wildcard1","tags":["base"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_v1_base_by_wildcard1","tags":["base"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/billing/auto-recharge/run-all":{"post":{"operationId":"post_v1_billing_auto-recharge_run-all","tags":["billing"]}},"/v1/billing/balance":{"get":{"operationId":"get_v1_billing_balance","tags":["billing"]}},"/v1/billing/gpu-charge":{"post":{"operationId":"post_v1_billing_gpu-charge","tags":["billing"]}},"/v1/billing/gpu-eligibility":{"get":{"operationId":"get_v1_billing_gpu-eligibility","tags":["billing"]}},"/v1/billing/health":{"get":{"operationId":"get_v1_billing_health","tags":["billing"]}},"/v1/billing/payment-methods":{"get":{"operationId":"get_v1_billing_payment-methods","tags":["billing"]}},"/v1/billing/usage":{"get":{"operationId":"get_v1_billing_usage","tags":["billing"]}},"/v1/billing/webhooks/{provider}":{"post":{"operationId":"post_v1_billing_webhooks_by_provider","tags":["billing"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/billing/{wildcard1}":{"get":{"operationId":"get_v1_billing_by_wildcard1","tags":["billing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_billing_by_wildcard1","tags":["billing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/bot/{wildcard1}":{"delete":{"operationId":"delete_v1_bot_by_wildcard1","tags":["bot"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_bot_by_wildcard1","tags":["bot"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_v1_bot_by_wildcard1","tags":["bot"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_bot_by_wildcard1","tags":["bot"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_bot_by_wildcard1","tags":["bot"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_bot_by_wildcard1","tags":["bot"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_v1_bot_by_wildcard1","tags":["bot"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/bots":{"get":{"operationId":"get_v1_bots","tags":["bots"]}},"/v1/bots/health":{"get":{"operationId":"get_v1_bots_health","tags":["bots"]}},"/v1/bots/run":{"post":{"operationId":"post_v1_bots_run","tags":["bots"]}},"/v1/bots/{runId}/stop":{"post":{"operationId":"post_v1_bots_by_runid_stop","tags":["bots"],"parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/builds":{"get":{"operationId":"get_v1_builds","tags":["builds"]}},"/v1/captable/company":{"get":{"operationId":"get_v1_captable_company","tags":["captable"]},"put":{"operationId":"put_v1_captable_company","tags":["captable"]}},"/v1/captable/convertibles":{"get":{"operationId":"get_v1_captable_convertibles","tags":["captable"]},"post":{"operationId":"post_v1_captable_convertibles","tags":["captable"]}},"/v1/captable/convertibles/{id}":{"delete":{"operationId":"delete_v1_captable_convertibles_by_id","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/equity-plans":{"get":{"operationId":"get_v1_captable_equity-plans","tags":["captable"]},"post":{"operationId":"post_v1_captable_equity-plans","tags":["captable"]}},"/v1/captable/health":{"get":{"operationId":"get_v1_captable_health","tags":["captable"]}},"/v1/captable/investments":{"get":{"operationId":"get_v1_captable_investments","tags":["captable"]}},"/v1/captable/options":{"get":{"operationId":"get_v1_captable_options","tags":["captable"]},"post":{"operationId":"post_v1_captable_options","tags":["captable"]}},"/v1/captable/options/{id}":{"delete":{"operationId":"delete_v1_captable_options_by_id","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/rounds":{"get":{"operationId":"get_v1_captable_rounds","tags":["captable"]},"post":{"operationId":"post_v1_captable_rounds","tags":["captable"]}},"/v1/captable/rounds/{id}":{"get":{"operationId":"get_v1_captable_rounds_by_id","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/rounds/{id}/close":{"post":{"operationId":"post_v1_captable_rounds_by_id_close","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/rounds/{id}/investments":{"post":{"operationId":"post_v1_captable_rounds_by_id_investments","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/safes":{"get":{"operationId":"get_v1_captable_safes","tags":["captable"]},"post":{"operationId":"post_v1_captable_safes","tags":["captable"]}},"/v1/captable/safes/{id}":{"delete":{"operationId":"delete_v1_captable_safes_by_id","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/share-classes":{"get":{"operationId":"get_v1_captable_share-classes","tags":["captable"]},"post":{"operationId":"post_v1_captable_share-classes","tags":["captable"]}},"/v1/captable/share-classes/{id}":{"patch":{"operationId":"patch_v1_captable_share-classes_by_id","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/shares":{"get":{"operationId":"get_v1_captable_shares","tags":["captable"]},"post":{"operationId":"post_v1_captable_shares","tags":["captable"]}},"/v1/captable/shares/transfer":{"post":{"operationId":"post_v1_captable_shares_transfer","tags":["captable"]}},"/v1/captable/shares/{id}":{"delete":{"operationId":"delete_v1_captable_shares_by_id","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/stakeholders":{"get":{"operationId":"get_v1_captable_stakeholders","tags":["captable"]},"post":{"operationId":"post_v1_captable_stakeholders","tags":["captable"]}},"/v1/captable/stakeholders/{id}":{"delete":{"operationId":"delete_v1_captable_stakeholders_by_id","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_captable_stakeholders_by_id","tags":["captable"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/captable/summary":{"get":{"operationId":"get_v1_captable_summary","tags":["captable"]}},"/v1/catalogsync/health":{"get":{"operationId":"get_v1_catalogsync_health","tags":["catalogsync"]}},"/v1/clusters":{"get":{"operationId":"get_v1_clusters","tags":["clusters"]},"post":{"operationId":"post_v1_clusters","tags":["clusters"]}},"/v1/clusters/{clusterId}/pools":{"post":{"operationId":"post_v1_clusters_by_clusterid_pools","tags":["clusters"],"parameters":[{"name":"clusterId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/clusters/{clusterId}/pools/{poolId}":{"delete":{"operationId":"delete_v1_clusters_by_clusterid_pools_by_poolid","tags":["clusters"],"parameters":[{"name":"clusterId","in":"path","required":true,"schema":{"type":"string"}},{"name":"poolId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/clusters/{clusterId}/pools/{poolId}/scale":{"post":{"operationId":"post_v1_clusters_by_clusterid_pools_by_poolid_scale","tags":["clusters"],"parameters":[{"name":"clusterId","in":"path","required":true,"schema":{"type":"string"}},{"name":"poolId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/clusters/{id}":{"delete":{"operationId":"delete_v1_clusters_by_id","tags":["clusters"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/code/ask":{"get":{"operationId":"get_v1_code_ask","tags":["code"]},"post":{"operationId":"post_v1_code_ask","tags":["code"]}},"/v1/code/context":{"post":{"operationId":"post_v1_code_context","tags":["code"]}},"/v1/code/file":{"get":{"operationId":"get_v1_code_file","tags":["code"]}},"/v1/code/health":{"get":{"operationId":"get_v1_code_health","tags":["code"]}},"/v1/code/index":{"post":{"operationId":"post_v1_code_index","tags":["code"]}},"/v1/code/search":{"get":{"operationId":"get_v1_code_search","tags":["code"]}},"/v1/code/tree":{"get":{"operationId":"get_v1_code_tree","tags":["code"]}},"/v1/commerce/catalog":{"get":{"operationId":"get_v1_commerce_catalog","tags":["commerce"]}},"/v1/commerce/deposits":{"post":{"operationId":"post_v1_commerce_deposits","tags":["commerce"]}},"/v1/commerce/deposits/{id}/confirm":{"post":{"operationId":"post_v1_commerce_deposits_by_id_confirm","tags":["commerce"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/commerce/deposits/{id}/status":{"get":{"operationId":"get_v1_commerce_deposits_by_id_status","tags":["commerce"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/commerce/health":{"get":{"operationId":"get_v1_commerce_health","tags":["commerce"]}},"/v1/commerce/tenant":{"get":{"operationId":"get_v1_commerce_tenant","tags":["commerce"]}},"/v1/commerce/topup/wallet":{"post":{"operationId":"post_v1_commerce_topup_wallet","tags":["commerce"]}},"/v1/commerce/webhooks/{provider}":{"post":{"operationId":"post_v1_commerce_webhooks_by_provider","tags":["commerce"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/commerce/{wildcard1}":{"delete":{"operationId":"delete_v1_commerce_by_wildcard1","tags":["commerce"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_commerce_by_wildcard1","tags":["commerce"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_commerce_by_wildcard1","tags":["commerce"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_commerce_by_wildcard1","tags":["commerce"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_commerce_by_wildcard1","tags":["commerce"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/company":{"get":{"operationId":"get_v1_company","tags":["company"]},"post":{"operationId":"post_v1_company","tags":["company"]}},"/v1/company/advance":{"post":{"operationId":"post_v1_company_advance","tags":["company"]}},"/v1/company/documents":{"post":{"operationId":"post_v1_company_documents","tags":["company"]}},"/v1/company/esign":{"post":{"operationId":"post_v1_company_esign","tags":["company"]}},"/v1/company/esign/complete":{"post":{"operationId":"post_v1_company_esign_complete","tags":["company"]}},"/v1/company/founders":{"post":{"operationId":"post_v1_company_founders","tags":["company"]}},"/v1/company/fundraise/deck":{"post":{"operationId":"post_v1_company_fundraise_deck","tags":["company"]}},"/v1/company/fundraise/round":{"post":{"operationId":"post_v1_company_fundraise_round","tags":["company"]}},"/v1/company/fundraise/safe":{"post":{"operationId":"post_v1_company_fundraise_safe","tags":["company"]}},"/v1/company/genesis":{"post":{"operationId":"post_v1_company_genesis","tags":["company"]}},"/v1/company/health":{"get":{"operationId":"get_v1_company_health","tags":["company"]}},"/v1/company/import/captable":{"post":{"operationId":"post_v1_company_import_captable","tags":["company"]}},"/v1/company/import/documents":{"post":{"operationId":"post_v1_company_import_documents","tags":["company"]}},"/v1/company/kyc":{"post":{"operationId":"post_v1_company_kyc","tags":["company"]}},"/v1/company/kyc/callback":{"post":{"operationId":"post_v1_company_kyc_callback","tags":["company"]}},"/v1/company/payment":{"post":{"operationId":"post_v1_company_payment","tags":["company"]}},"/v1/company/skip":{"post":{"operationId":"post_v1_company_skip","tags":["company"]}},"/v1/company/structure":{"put":{"operationId":"put_v1_company_structure","tags":["company"]}},"/v1/compute/bots":{"get":{"operationId":"get_v1_compute_bots","tags":["compute"]}},"/v1/compute/bots/launch":{"post":{"operationId":"post_v1_compute_bots_launch","tags":["compute"]}},"/v1/compute/bots/{id}":{"delete":{"operationId":"delete_v1_compute_bots_by_id","tags":["compute"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_compute_bots_by_id","tags":["compute"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/compute/bots/{id}/{action}":{"post":{"operationId":"post_v1_compute_bots_by_id_by_action","tags":["compute"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"action","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/compute/regions":{"get":{"operationId":"get_v1_compute_regions","tags":["compute"]}},"/v1/compute/sizes":{"get":{"operationId":"get_v1_compute_sizes","tags":["compute"]}},"/v1/connector/github/webhook":{"post":{"operationId":"post_v1_connector_github_webhook","tags":["connector"]}},"/v1/content/board":{"get":{"operationId":"get_v1_content_board","tags":["content"]}},"/v1/content/channels":{"get":{"operationId":"get_v1_content_channels","tags":["content"]}},"/v1/content/generate":{"post":{"operationId":"post_v1_content_generate","tags":["content"]}},"/v1/content/health":{"get":{"operationId":"get_v1_content_health","tags":["content"]}},"/v1/content/lifecycle":{"get":{"operationId":"get_v1_content_lifecycle","tags":["content"]}},"/v1/content/publish":{"post":{"operationId":"post_v1_content_publish","tags":["content"]}},"/v1/content/{doctype}/{name}/transition":{"post":{"operationId":"post_v1_content_by_doctype_by_name_transition","tags":["content"],"parameters":[{"name":"doctype","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/crm/applications":{"get":{"operationId":"get_v1_crm_applications","tags":["crm"]},"post":{"operationId":"post_v1_crm_applications","tags":["crm"]}},"/v1/crm/applications/{id}":{"get":{"operationId":"get_v1_crm_applications_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_crm_applications_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/crm/companies":{"get":{"operationId":"get_v1_crm_companies","tags":["crm"]},"post":{"operationId":"post_v1_crm_companies","tags":["crm"]}},"/v1/crm/companies/{id}":{"delete":{"operationId":"delete_v1_crm_companies_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_crm_companies_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_crm_companies_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/crm/contacts":{"get":{"operationId":"get_v1_crm_contacts","tags":["crm"]},"post":{"operationId":"post_v1_crm_contacts","tags":["crm"]}},"/v1/crm/contacts/{id}":{"delete":{"operationId":"delete_v1_crm_contacts_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_crm_contacts_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_crm_contacts_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/crm/health":{"get":{"operationId":"get_v1_crm_health","tags":["crm"]}},"/v1/crm/opportunities":{"get":{"operationId":"get_v1_crm_opportunities","tags":["crm"]},"post":{"operationId":"post_v1_crm_opportunities","tags":["crm"]}},"/v1/crm/opportunities/{id}":{"delete":{"operationId":"delete_v1_crm_opportunities_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_crm_opportunities_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_crm_opportunities_by_id","tags":["crm"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/crm/summary":{"get":{"operationId":"get_v1_crm_summary","tags":["crm"]}},"/v1/csrf":{"get":{"operationId":"get_v1_csrf","tags":["csrf"]}},"/v1/dataroom/analytics/dataroom/{dataroomId}":{"get":{"operationId":"get_v1_dataroom_analytics_dataroom_by_dataroomid","tags":["dataroom"],"parameters":[{"name":"dataroomId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/analytics/link/{linkId}":{"get":{"operationId":"get_v1_dataroom_analytics_link_by_linkid","tags":["dataroom"],"parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/datarooms":{"get":{"operationId":"get_v1_dataroom_datarooms","tags":["dataroom"]},"post":{"operationId":"post_v1_dataroom_datarooms","tags":["dataroom"]}},"/v1/dataroom/datarooms/{id}":{"get":{"operationId":"get_v1_dataroom_datarooms_by_id","tags":["dataroom"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/datarooms/{id}/documents":{"post":{"operationId":"post_v1_dataroom_datarooms_by_id_documents","tags":["dataroom"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/documents":{"get":{"operationId":"get_v1_dataroom_documents","tags":["dataroom"]},"post":{"operationId":"post_v1_dataroom_documents","tags":["dataroom"]}},"/v1/dataroom/documents/{id}":{"get":{"operationId":"get_v1_dataroom_documents_by_id","tags":["dataroom"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/documents/{id}/file":{"get":{"operationId":"get_v1_dataroom_documents_by_id_file","tags":["dataroom"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/health":{"get":{"operationId":"get_v1_dataroom_health","tags":["dataroom"]}},"/v1/dataroom/links":{"get":{"operationId":"get_v1_dataroom_links","tags":["dataroom"]},"post":{"operationId":"post_v1_dataroom_links","tags":["dataroom"]}},"/v1/dataroom/view/{linkId}":{"get":{"operationId":"get_v1_dataroom_view_by_linkid","tags":["dataroom"],"parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/view/{linkId}/authenticate":{"post":{"operationId":"post_v1_dataroom_view_by_linkid_authenticate","tags":["dataroom"],"parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/view/{linkId}/document/{documentId}/file":{"get":{"operationId":"get_v1_dataroom_view_by_linkid_document_by_documentid_file","tags":["dataroom"],"parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/dataroom/view/{linkId}/pageview":{"post":{"operationId":"post_v1_dataroom_view_by_linkid_pageview","tags":["dataroom"],"parameters":[{"name":"linkId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/datastore":{"get":{"operationId":"get_v1_datastore","tags":["datastore"]},"post":{"operationId":"post_v1_datastore","tags":["datastore"]}},"/v1/datastore/{name}":{"delete":{"operationId":"delete_v1_datastore_by_name","tags":["datastore"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_datastore_by_name","tags":["datastore"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/deploy/applications":{"get":{"operationId":"get_v1_deploy_applications","tags":["deploy"]}},"/v1/deploy/health":{"get":{"operationId":"get_v1_deploy_health","tags":["deploy"]}},"/v1/deploy/{name}/logs":{"get":{"operationId":"get_v1_deploy_by_name_logs","tags":["deploy"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/deploy/{name}/resource/{ref}":{"get":{"operationId":"get_v1_deploy_by_name_resource_by_ref","tags":["deploy"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"ref","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/deploy/{name}/rollback":{"post":{"operationId":"post_v1_deploy_by_name_rollback","tags":["deploy"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/deploy/{name}/sync":{"post":{"operationId":"post_v1_deploy_by_name_sync","tags":["deploy"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/deploy/{name}/tree":{"get":{"operationId":"get_v1_deploy_by_name_tree","tags":["deploy"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/do/health":{"get":{"operationId":"get_v1_do_health","tags":["do"]}},"/v1/docdb":{"get":{"operationId":"get_v1_docdb","tags":["docdb"]},"post":{"operationId":"post_v1_docdb","tags":["docdb"]}},"/v1/docdb/{name}":{"delete":{"operationId":"delete_v1_docdb_by_name","tags":["docdb"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_docdb_by_name","tags":["docdb"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/download":{"delete":{"operationId":"delete_v1_download","tags":["download"]},"get":{"operationId":"get_v1_download","tags":["download"]},"options":{"operationId":"options_v1_download","tags":["download"]},"patch":{"operationId":"patch_v1_download","tags":["download"]},"post":{"operationId":"post_v1_download","tags":["download"]},"put":{"operationId":"put_v1_download","tags":["download"]},"trace":{"operationId":"trace_v1_download","tags":["download"]}},"/v1/download/{wildcard1}":{"delete":{"operationId":"delete_v1_download_by_wildcard1","tags":["download"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_download_by_wildcard1","tags":["download"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_v1_download_by_wildcard1","tags":["download"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_download_by_wildcard1","tags":["download"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_download_by_wildcard1","tags":["download"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_download_by_wildcard1","tags":["download"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_v1_download_by_wildcard1","tags":["download"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/edge/nodes":{"get":{"operationId":"get_v1_edge_nodes","tags":["edge"]}},"/v1/embed-status":{"get":{"operationId":"get_v1_embed-status","tags":["embed-status"]}},"/v1/enablement":{"get":{"operationId":"get_v1_enablement","tags":["enablement"]}},"/v1/enablement/optin":{"post":{"operationId":"post_v1_enablement_optin","tags":["enablement"]}},"/v1/enablement/optout":{"post":{"operationId":"post_v1_enablement_optout","tags":["enablement"]}},"/v1/entitlements/health":{"get":{"operationId":"get_v1_entitlements_health","tags":["entitlements"]}},"/v1/environments":{"get":{"operationId":"get_v1_environments","tags":["environments"]}},"/v1/evals/dataset-items":{"get":{"operationId":"get_v1_evals_dataset-items","tags":["evals"]},"post":{"operationId":"post_v1_evals_dataset-items","tags":["evals"]}},"/v1/evals/datasets":{"get":{"operationId":"get_v1_evals_datasets","tags":["evals"]},"post":{"operationId":"post_v1_evals_datasets","tags":["evals"]}},"/v1/evals/datasets/{name}":{"delete":{"operationId":"delete_v1_evals_datasets_by_name","tags":["evals"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_evals_datasets_by_name","tags":["evals"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/evals/evaluators":{"get":{"operationId":"get_v1_evals_evaluators","tags":["evals"]},"post":{"operationId":"post_v1_evals_evaluators","tags":["evals"]}},"/v1/evals/health":{"get":{"operationId":"get_v1_evals_health","tags":["evals"]}},"/v1/evals/metrics":{"get":{"operationId":"get_v1_evals_metrics","tags":["evals"]}},"/v1/evals/runs":{"get":{"operationId":"get_v1_evals_runs","tags":["evals"]},"post":{"operationId":"post_v1_evals_runs","tags":["evals"]}},"/v1/evals/score-configs":{"get":{"operationId":"get_v1_evals_score-configs","tags":["evals"]},"post":{"operationId":"post_v1_evals_score-configs","tags":["evals"]}},"/v1/evals/scores":{"get":{"operationId":"get_v1_evals_scores","tags":["evals"]},"post":{"operationId":"post_v1_evals_scores","tags":["evals"]}},"/v1/evals/traces":{"get":{"operationId":"get_v1_evals_traces","tags":["evals"]}},"/v1/exec":{"delete":{"operationId":"delete_v1_exec","tags":["exec"]},"get":{"operationId":"get_v1_exec","tags":["exec"]},"options":{"operationId":"options_v1_exec","tags":["exec"]},"patch":{"operationId":"patch_v1_exec","tags":["exec"]},"post":{"operationId":"post_v1_exec","tags":["exec"]},"put":{"operationId":"put_v1_exec","tags":["exec"]},"trace":{"operationId":"trace_v1_exec","tags":["exec"]}},"/v1/exec/health":{"get":{"operationId":"get_v1_exec_health","tags":["exec"]}},"/v1/exec/{wildcard1}":{"delete":{"operationId":"delete_v1_exec_by_wildcard1","tags":["exec"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_exec_by_wildcard1","tags":["exec"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_v1_exec_by_wildcard1","tags":["exec"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_exec_by_wildcard1","tags":["exec"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_exec_by_wildcard1","tags":["exec"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_exec_by_wildcard1","tags":["exec"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_v1_exec_by_wildcard1","tags":["exec"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/featuregate/mode":{"get":{"operationId":"get_v1_featuregate_mode","tags":["featuregate"]}},"/v1/files":{"delete":{"operationId":"delete_v1_files","tags":["files"]},"get":{"operationId":"get_v1_files","tags":["files"]},"options":{"operationId":"options_v1_files","tags":["files"]},"patch":{"operationId":"patch_v1_files","tags":["files"]},"post":{"operationId":"post_v1_files","tags":["files"]},"put":{"operationId":"put_v1_files","tags":["files"]},"trace":{"operationId":"trace_v1_files","tags":["files"]}},"/v1/files/{wildcard1}":{"delete":{"operationId":"delete_v1_files_by_wildcard1","tags":["files"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_files_by_wildcard1","tags":["files"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_v1_files_by_wildcard1","tags":["files"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_files_by_wildcard1","tags":["files"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_files_by_wildcard1","tags":["files"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_files_by_wildcard1","tags":["files"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_v1_files_by_wildcard1","tags":["files"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/finance/accounts":{"get":{"operationId":"get_v1_finance_accounts","tags":["finance"]}},"/v1/finance/balance":{"get":{"operationId":"get_v1_finance_balance","tags":["finance"]}},"/v1/finance/credits":{"get":{"operationId":"get_v1_finance_credits","tags":["finance"]}},"/v1/finance/invoices":{"get":{"operationId":"get_v1_finance_invoices","tags":["finance"]}},"/v1/finance/ledger":{"get":{"operationId":"get_v1_finance_ledger","tags":["finance"]}},"/v1/finance/payment-methods":{"get":{"operationId":"get_v1_finance_payment-methods","tags":["finance"]}},"/v1/finance/treasury":{"get":{"operationId":"get_v1_finance_treasury","tags":["finance"]}},"/v1/finance/usage":{"get":{"operationId":"get_v1_finance_usage","tags":["finance"]}},"/v1/flags":{"post":{"operationId":"post_v1_flags","tags":["flags"]}},"/v1/flags/activity":{"get":{"operationId":"get_v1_flags_activity","tags":["flags"]}},"/v1/flags/decide":{"post":{"operationId":"post_v1_flags_decide","tags":["flags"]}},"/v1/flags/defs":{"get":{"operationId":"get_v1_flags_defs","tags":["flags"]}},"/v1/flags/defs/{key}":{"delete":{"operationId":"delete_v1_flags_defs_by_key","tags":["flags"],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_flags_defs_by_key","tags":["flags"],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_flags_defs_by_key","tags":["flags"],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/flags/health":{"get":{"operationId":"get_v1_flags_health","tags":["flags"]}},"/v1/fleet/workers":{"get":{"operationId":"get_v1_fleet_workers","tags":["fleet"]}},"/v1/framework/doctypes":{"get":{"operationId":"get_v1_framework_doctypes","tags":["framework"]},"post":{"operationId":"post_v1_framework_doctypes","tags":["framework"]}},"/v1/framework/doctypes/{name}":{"delete":{"operationId":"delete_v1_framework_doctypes_by_name","tags":["framework"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_framework_doctypes_by_name","tags":["framework"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_framework_doctypes_by_name","tags":["framework"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/framework/health":{"get":{"operationId":"get_v1_framework_health","tags":["framework"]}},"/v1/framework/modules":{"get":{"operationId":"get_v1_framework_modules","tags":["framework"]}},"/v1/framework/modules/{module}":{"get":{"operationId":"get_v1_framework_modules_by_module","tags":["framework"],"parameters":[{"name":"module","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/framework/modules/{module}/install":{"post":{"operationId":"post_v1_framework_modules_by_module_install","tags":["framework"],"parameters":[{"name":"module","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/framework/roles":{"get":{"operationId":"get_v1_framework_roles","tags":["framework"]},"post":{"operationId":"post_v1_framework_roles","tags":["framework"]}},"/v1/framework/roles/{user}/{role}":{"delete":{"operationId":"delete_v1_framework_roles_by_user_by_role","tags":["framework"],"parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"role","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/framework/summary":{"get":{"operationId":"get_v1_framework_summary","tags":["framework"]}},"/v1/framework/{doctype}":{"get":{"operationId":"get_v1_framework_by_doctype","tags":["framework"],"parameters":[{"name":"doctype","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_framework_by_doctype","tags":["framework"],"parameters":[{"name":"doctype","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/framework/{doctype}/{name}":{"delete":{"operationId":"delete_v1_framework_by_doctype_by_name","tags":["framework"],"parameters":[{"name":"doctype","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_framework_by_doctype_by_name","tags":["framework"],"parameters":[{"name":"doctype","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_framework_by_doctype_by_name","tags":["framework"],"parameters":[{"name":"doctype","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/framework/{doctype}/{name}/cancel":{"post":{"operationId":"post_v1_framework_by_doctype_by_name_cancel","tags":["framework"],"parameters":[{"name":"doctype","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/framework/{doctype}/{name}/submit":{"post":{"operationId":"post_v1_framework_by_doctype_by_name_submit","tags":["framework"],"parameters":[{"name":"doctype","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/functions":{"get":{"operationId":"get_v1_functions","tags":["functions"]},"post":{"operationId":"post_v1_functions","tags":["functions"]}},"/v1/functions/deployments":{"get":{"operationId":"get_v1_functions_deployments","tags":["functions"]}},"/v1/functions/health":{"get":{"operationId":"get_v1_functions_health","tags":["functions"]}},"/v1/functions/metrics":{"get":{"operationId":"get_v1_functions_metrics","tags":["functions"]}},"/v1/functions/secrets":{"get":{"operationId":"get_v1_functions_secrets","tags":["functions"]}},"/v1/functions/triggers":{"get":{"operationId":"get_v1_functions_triggers","tags":["functions"]}},"/v1/functions/{name}":{"delete":{"operationId":"delete_v1_functions_by_name","tags":["functions"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_functions_by_name","tags":["functions"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/functions/{name}/invocations":{"get":{"operationId":"get_v1_functions_by_name_invocations","tags":["functions"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/functions/{name}/invoke":{"post":{"operationId":"post_v1_functions_by_name_invoke","tags":["functions"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/functions/{name}/logs":{"get":{"operationId":"get_v1_functions_by_name_logs","tags":["functions"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/gateway/config":{"get":{"operationId":"get_v1_gateway_config","tags":["gateway"]},"put":{"operationId":"put_v1_gateway_config","tags":["gateway"]}},"/v1/gateway/health":{"get":{"operationId":"get_v1_gateway_health","tags":["gateway"]}},"/v1/git/health":{"get":{"operationId":"get_v1_git_health","tags":["git"]}},"/v1/git/keys":{"get":{"operationId":"get_v1_git_keys","tags":["git"]},"post":{"operationId":"post_v1_git_keys","tags":["git"]}},"/v1/git/keys/{id}":{"delete":{"operationId":"delete_v1_git_keys_by_id","tags":["git"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos":{"get":{"operationId":"get_v1_git_repos","tags":["git"]},"post":{"operationId":"post_v1_git_repos","tags":["git"]}},"/v1/git/repos/{name}":{"delete":{"operationId":"delete_v1_git_repos_by_name","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_git_repos_by_name","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_git_repos_by_name","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/blob":{"get":{"operationId":"get_v1_git_repos_by_name_blob","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/commits":{"get":{"operationId":"get_v1_git_repos_by_name_commits","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/gc":{"post":{"operationId":"post_v1_git_repos_by_name_gc","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/mirror":{"post":{"operationId":"post_v1_git_repos_by_name_mirror","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/mirrors":{"get":{"operationId":"get_v1_git_repos_by_name_mirrors","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_git_repos_by_name_mirrors","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/mirrors/{id}":{"delete":{"operationId":"delete_v1_git_repos_by_name_mirrors_by_id","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/push":{"post":{"operationId":"post_v1_git_repos_by_name_push","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/readme":{"get":{"operationId":"get_v1_git_repos_by_name_readme","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/refs":{"get":{"operationId":"get_v1_git_repos_by_name_refs","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/subscriptions":{"get":{"operationId":"get_v1_git_repos_by_name_subscriptions","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_git_repos_by_name_subscriptions","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/subscriptions/{id}":{"delete":{"operationId":"delete_v1_git_repos_by_name_subscriptions_by_id","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/repos/{name}/tree":{"get":{"operationId":"get_v1_git_repos_by_name_tree","tags":["git"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/usage":{"get":{"operationId":"get_v1_git_usage","tags":["git"]}},"/v1/git/webhook":{"post":{"operationId":"post_v1_git_webhook","tags":["git"]}},"/v1/git/zap/createRepo":{"post":{"operationId":"post_v1_git_zap_createrepo","tags":["git"]}},"/v1/git/zap/deleteRepo":{"post":{"operationId":"post_v1_git_zap_deleterepo","tags":["git"]}},"/v1/git/zap/getRepo":{"post":{"operationId":"post_v1_git_zap_getrepo","tags":["git"]}},"/v1/git/zap/listRepos":{"post":{"operationId":"post_v1_git_zap_listrepos","tags":["git"]}},"/v1/git/zap/usage":{"post":{"operationId":"post_v1_git_zap_usage","tags":["git"]}},"/v1/git/{org}/{repo}/git-receive-pack":{"post":{"operationId":"post_v1_git_by_org_by_repo_git-receive-pack","tags":["git"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/{org}/{repo}/git-upload-pack":{"post":{"operationId":"post_v1_git_by_org_by_repo_git-upload-pack","tags":["git"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/git/{org}/{repo}/info/refs":{"get":{"operationId":"get_v1_git_by_org_by_repo_info_refs","tags":["git"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/gpus":{"get":{"operationId":"get_v1_gpus","tags":["gpus"]}},"/v1/gpus/alerts":{"get":{"operationId":"get_v1_gpus_alerts","tags":["gpus"]}},"/v1/graph/health":{"get":{"operationId":"get_v1_graph_health","tags":["graph"]}},"/v1/guide":{"get":{"operationId":"get_v1_guide","tags":["guide"]}},"/v1/guide/actions":{"get":{"operationId":"get_v1_guide_actions","tags":["guide"]}},"/v1/guide/curriculum":{"delete":{"operationId":"delete_v1_guide_curriculum","tags":["guide"]},"get":{"operationId":"get_v1_guide_curriculum","tags":["guide"]},"put":{"operationId":"put_v1_guide_curriculum","tags":["guide"]}},"/v1/guide/health":{"get":{"operationId":"get_v1_guide_health","tags":["guide"]}},"/v1/guide/steps/{id}/do":{"post":{"operationId":"post_v1_guide_steps_by_id_do","tags":["guide"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/guide/steps/{id}/done":{"post":{"operationId":"post_v1_guide_steps_by_id_done","tags":["guide"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/guide/steps/{id}/reset":{"post":{"operationId":"post_v1_guide_steps_by_id_reset","tags":["guide"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/guide/steps/{id}/skip":{"post":{"operationId":"post_v1_guide_steps_by_id_skip","tags":["guide"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/guide/steps/{id}/start":{"post":{"operationId":"post_v1_guide_steps_by_id_start","tags":["guide"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/iam/keys":{"delete":{"operationId":"delete_v1_iam_keys","tags":["iam"]},"get":{"operationId":"get_v1_iam_keys","tags":["iam"]},"post":{"operationId":"post_v1_iam_keys","tags":["iam"]}},"/v1/iam/onboard":{"post":{"operationId":"post_v1_iam_onboard","tags":["iam"]}},"/v1/iam/{wildcard1}":{"delete":{"operationId":"delete_v1_iam_by_wildcard1","tags":["iam"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_iam_by_wildcard1","tags":["iam"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_v1_iam_by_wildcard1","tags":["iam"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_iam_by_wildcard1","tags":["iam"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_iam_by_wildcard1","tags":["iam"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_iam_by_wildcard1","tags":["iam"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_v1_iam_by_wildcard1","tags":["iam"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/indexers":{"get":{"operationId":"get_v1_indexers","tags":["indexers"]}},"/v1/insights/e":{"post":{"operationId":"post_v1_insights_e","tags":["insights"]}},"/v1/insights/events":{"get":{"operationId":"get_v1_insights_events","tags":["insights"]}},"/v1/insights/health":{"get":{"operationId":"get_v1_insights_health","tags":["insights"]}},"/v1/integrations":{"get":{"operationId":"get_v1_integrations","tags":["integrations"]}},"/v1/integrations/discord/interactions":{"post":{"operationId":"post_v1_integrations_discord_interactions","tags":["integrations"]}},"/v1/integrations/discord/link":{"get":{"operationId":"get_v1_integrations_discord_link","tags":["integrations"]}},"/v1/integrations/discord/link/callback":{"get":{"operationId":"get_v1_integrations_discord_link_callback","tags":["integrations"]}},"/v1/integrations/discord/link/discord":{"get":{"operationId":"get_v1_integrations_discord_link_discord","tags":["integrations"]}},"/v1/integrations/github/repos":{"get":{"operationId":"get_v1_integrations_github_repos","tags":["integrations"]}},"/v1/integrations/github/repos/import":{"post":{"operationId":"post_v1_integrations_github_repos_import","tags":["integrations"]}},"/v1/integrations/health":{"get":{"operationId":"get_v1_integrations_health","tags":["integrations"]}},"/v1/integrations/slack/commands":{"post":{"operationId":"post_v1_integrations_slack_commands","tags":["integrations"]}},"/v1/integrations/slack/events":{"post":{"operationId":"post_v1_integrations_slack_events","tags":["integrations"]}},"/v1/integrations/slack/link":{"get":{"operationId":"get_v1_integrations_slack_link","tags":["integrations"]}},"/v1/integrations/slack/link/callback":{"get":{"operationId":"get_v1_integrations_slack_link_callback","tags":["integrations"]}},"/v1/integrations/slack/link/slack":{"get":{"operationId":"get_v1_integrations_slack_link_slack","tags":["integrations"]}},"/v1/integrations/teams/events":{"post":{"operationId":"post_v1_integrations_teams_events","tags":["integrations"]}},"/v1/integrations/teams/link":{"get":{"operationId":"get_v1_integrations_teams_link","tags":["integrations"]}},"/v1/integrations/teams/link/aad":{"get":{"operationId":"get_v1_integrations_teams_link_aad","tags":["integrations"]}},"/v1/integrations/teams/link/callback":{"get":{"operationId":"get_v1_integrations_teams_link_callback","tags":["integrations"]}},"/v1/integrations/telegram/connect":{"post":{"operationId":"post_v1_integrations_telegram_connect","tags":["integrations"]}},"/v1/integrations/telegram/link":{"get":{"operationId":"get_v1_integrations_telegram_link","tags":["integrations"]}},"/v1/integrations/telegram/link/auth":{"get":{"operationId":"get_v1_integrations_telegram_link_auth","tags":["integrations"]}},"/v1/integrations/telegram/link/callback":{"get":{"operationId":"get_v1_integrations_telegram_link_callback","tags":["integrations"]}},"/v1/integrations/telegram/webhook":{"post":{"operationId":"post_v1_integrations_telegram_webhook","tags":["integrations"]}},"/v1/integrations/{provider}":{"get":{"operationId":"get_v1_integrations_by_provider","tags":["integrations"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/integrations/{provider}/callback":{"get":{"operationId":"get_v1_integrations_by_provider_callback","tags":["integrations"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/integrations/{provider}/connect":{"post":{"operationId":"post_v1_integrations_by_provider_connect","tags":["integrations"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/integrations/{provider}/disconnect":{"post":{"operationId":"post_v1_integrations_by_provider_disconnect","tags":["integrations"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/kafka/health":{"get":{"operationId":"get_v1_kafka_health","tags":["kafka"]}},"/v1/kb/connectors":{"get":{"operationId":"get_v1_kb_connectors","tags":["kb"]}},"/v1/kb/connectors/catalog":{"get":{"operationId":"get_v1_kb_connectors_catalog","tags":["kb"]}},"/v1/kb/connectors/{provider}":{"delete":{"operationId":"delete_v1_kb_connectors_by_provider","tags":["kb"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/kb/connectors/{provider}/callback":{"get":{"operationId":"get_v1_kb_connectors_by_provider_callback","tags":["kb"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/kb/connectors/{provider}/connect":{"get":{"operationId":"get_v1_kb_connectors_by_provider_connect","tags":["kb"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/kb/connectors/{provider}/sync":{"post":{"operationId":"post_v1_kb_connectors_by_provider_sync","tags":["kb"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/kb/graph":{"get":{"operationId":"get_v1_kb_graph","tags":["kb"]}},"/v1/kb/import":{"post":{"operationId":"post_v1_kb_import","tags":["kb"]}},"/v1/kb/search":{"post":{"operationId":"post_v1_kb_search","tags":["kb"]}},"/v1/kms/auth/login":{"post":{"operationId":"post_v1_kms_auth_login","tags":["kms"]}},"/v1/kms/config":{"get":{"operationId":"get_v1_kms_config","tags":["kms"]}},"/v1/kms/health":{"get":{"operationId":"get_v1_kms_health","tags":["kms"]}},"/v1/kms/orgs/{org}/secrets":{"get":{"operationId":"get_v1_kms_orgs_by_org_secrets","tags":["kms"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_kms_orgs_by_org_secrets","tags":["kms"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/kms/orgs/{org}/secrets/{wildcard1}":{"delete":{"operationId":"delete_v1_kms_orgs_by_org_secrets_by_wildcard1","tags":["kms"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_kms_orgs_by_org_secrets_by_wildcard1","tags":["kms"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}},{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/knowledge/connectors":{"get":{"operationId":"get_v1_knowledge_connectors","tags":["knowledge"]}},"/v1/knowledge/connectors/catalog":{"get":{"operationId":"get_v1_knowledge_connectors_catalog","tags":["knowledge"]}},"/v1/knowledge/connectors/{provider}":{"delete":{"operationId":"delete_v1_knowledge_connectors_by_provider","tags":["knowledge"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/knowledge/connectors/{provider}/callback":{"get":{"operationId":"get_v1_knowledge_connectors_by_provider_callback","tags":["knowledge"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/knowledge/connectors/{provider}/connect":{"get":{"operationId":"get_v1_knowledge_connectors_by_provider_connect","tags":["knowledge"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/knowledge/connectors/{provider}/sync":{"post":{"operationId":"post_v1_knowledge_connectors_by_provider_sync","tags":["knowledge"],"parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/knowledge/graph":{"get":{"operationId":"get_v1_knowledge_graph","tags":["knowledge"]}},"/v1/knowledge/health":{"get":{"operationId":"get_v1_knowledge_health","tags":["knowledge"]}},"/v1/knowledge/import":{"post":{"operationId":"post_v1_knowledge_import","tags":["knowledge"]}},"/v1/knowledge/search":{"post":{"operationId":"post_v1_knowledge_search","tags":["knowledge"]}},"/v1/kv":{"get":{"operationId":"get_v1_kv","tags":["kv"]},"post":{"operationId":"post_v1_kv","tags":["kv"]}},"/v1/kv/{name}":{"delete":{"operationId":"delete_v1_kv_by_name","tags":["kv"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_kv_by_name","tags":["kv"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/licensing/health":{"get":{"operationId":"get_v1_licensing_health","tags":["licensing"]}},"/v1/licensing/{wildcard1}":{"delete":{"operationId":"delete_v1_licensing_by_wildcard1","tags":["licensing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_licensing_by_wildcard1","tags":["licensing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_v1_licensing_by_wildcard1","tags":["licensing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_licensing_by_wildcard1","tags":["licensing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_licensing_by_wildcard1","tags":["licensing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_licensing_by_wildcard1","tags":["licensing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_v1_licensing_by_wildcard1","tags":["licensing"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/link/health":{"get":{"operationId":"get_v1_link_health","tags":["link"]}},"/v1/links":{"get":{"operationId":"get_v1_links","tags":["links"]},"post":{"operationId":"post_v1_links","tags":["links"]}},"/v1/links/devices/{machine}":{"get":{"operationId":"get_v1_links_devices_by_machine","tags":["links"],"parameters":[{"name":"machine","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/links/devices/{machine}/revoke":{"post":{"operationId":"post_v1_links_devices_by_machine_revoke","tags":["links"],"parameters":[{"name":"machine","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/links/route":{"get":{"operationId":"get_v1_links_route","tags":["links"]}},"/v1/links/{id}":{"delete":{"operationId":"delete_v1_links_by_id","tags":["links"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_links_by_id","tags":["links"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/load-balancers":{"get":{"operationId":"get_v1_load-balancers","tags":["load-balancers"]},"post":{"operationId":"post_v1_load-balancers","tags":["load-balancers"]}},"/v1/load-balancers/{id}":{"delete":{"operationId":"delete_v1_load-balancers_by_id","tags":["load-balancers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_load-balancers_by_id","tags":["load-balancers"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/logs/health":{"get":{"operationId":"get_v1_logs_health","tags":["logs"]}},"/v1/logs/query":{"get":{"operationId":"get_v1_logs_query","tags":["logs"]}},"/v1/logs/write":{"post":{"operationId":"post_v1_logs_write","tags":["logs"]}},"/v1/machines":{"get":{"operationId":"get_v1_machines","tags":["machines"]},"post":{"operationId":"post_v1_machines","tags":["machines"]}},"/v1/machines/{id}":{"delete":{"operationId":"delete_v1_machines_by_id","tags":["machines"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_machines_by_id","tags":["machines"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/machines/{id}/agent-binding":{"delete":{"operationId":"delete_v1_machines_by_id_agent-binding","tags":["machines"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_machines_by_id_agent-binding","tags":["machines"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/machines/{id}/bind-agent":{"post":{"operationId":"post_v1_machines_by_id_bind-agent","tags":["machines"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/audiences":{"get":{"operationId":"get_v1_marketing_audiences","tags":["marketing"]},"post":{"operationId":"post_v1_marketing_audiences","tags":["marketing"]}},"/v1/marketing/audiences/{id}":{"delete":{"operationId":"delete_v1_marketing_audiences_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_marketing_audiences_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/audiences/{id}/preview":{"get":{"operationId":"get_v1_marketing_audiences_by_id_preview","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/calendar":{"get":{"operationId":"get_v1_marketing_calendar","tags":["marketing"]},"post":{"operationId":"post_v1_marketing_calendar","tags":["marketing"]}},"/v1/marketing/calendar/{id}":{"delete":{"operationId":"delete_v1_marketing_calendar_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_marketing_calendar_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_marketing_calendar_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/calendar/{id}/publish":{"post":{"operationId":"post_v1_marketing_calendar_by_id_publish","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/campaigns":{"get":{"operationId":"get_v1_marketing_campaigns","tags":["marketing"]},"post":{"operationId":"post_v1_marketing_campaigns","tags":["marketing"]}},"/v1/marketing/campaigns/{id}":{"delete":{"operationId":"delete_v1_marketing_campaigns_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_marketing_campaigns_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_marketing_campaigns_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/campaigns/{id}/schedule":{"post":{"operationId":"post_v1_marketing_campaigns_by_id_schedule","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/health":{"get":{"operationId":"get_v1_marketing_health","tags":["marketing"]}},"/v1/marketing/promos":{"get":{"operationId":"get_v1_marketing_promos","tags":["marketing"]}},"/v1/marketing/promos/{code}/eligibility":{"get":{"operationId":"get_v1_marketing_promos_by_code_eligibility","tags":["marketing"],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/promos/{code}/redeem":{"post":{"operationId":"post_v1_marketing_promos_by_code_redeem","tags":["marketing"],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/promos/{code}/redemption":{"get":{"operationId":"get_v1_marketing_promos_by_code_redemption","tags":["marketing"],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/sequences":{"get":{"operationId":"get_v1_marketing_sequences","tags":["marketing"]},"post":{"operationId":"post_v1_marketing_sequences","tags":["marketing"]}},"/v1/marketing/sequences/{id}":{"get":{"operationId":"get_v1_marketing_sequences_by_id","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/sequences/{id}/enroll":{"post":{"operationId":"post_v1_marketing_sequences_by_id_enroll","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/sequences/{id}/enrollments":{"get":{"operationId":"get_v1_marketing_sequences_by_id_enrollments","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/sequences/{id}/enrollments/{eid}/cancel":{"post":{"operationId":"post_v1_marketing_sequences_by_id_enrollments_by_eid_cancel","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"eid","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/sequences/{id}/status":{"post":{"operationId":"post_v1_marketing_sequences_by_id_status","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/sequences/{id}/steps":{"get":{"operationId":"get_v1_marketing_sequences_by_id_steps","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_marketing_sequences_by_id_steps","tags":["marketing"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketing/summary":{"get":{"operationId":"get_v1_marketing_summary","tags":["marketing"]}},"/v1/marketing/suppressions":{"delete":{"operationId":"delete_v1_marketing_suppressions","tags":["marketing"]},"get":{"operationId":"get_v1_marketing_suppressions","tags":["marketing"]},"post":{"operationId":"post_v1_marketing_suppressions","tags":["marketing"]}},"/v1/marketing/unsubscribe":{"get":{"operationId":"get_v1_marketing_unsubscribe","tags":["marketing"]}},"/v1/marketplace":{"get":{"operationId":"get_v1_marketplace","tags":["marketplace"]}},"/v1/marketplace/health":{"get":{"operationId":"get_v1_marketplace_health","tags":["marketplace"]}},"/v1/marketplace/install":{"post":{"operationId":"post_v1_marketplace_install","tags":["marketplace"]}},"/v1/marketplace/listings":{"get":{"operationId":"get_v1_marketplace_listings","tags":["marketplace"]},"post":{"operationId":"post_v1_marketplace_listings","tags":["marketplace"]}},"/v1/marketplace/listings/{id}":{"delete":{"operationId":"delete_v1_marketplace_listings_by_id","tags":["marketplace"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/marketplace/uninstall":{"post":{"operationId":"post_v1_marketplace_uninstall","tags":["marketplace"]}},"/v1/mesh/services":{"get":{"operationId":"get_v1_mesh_services","tags":["mesh"]}},"/v1/metrics/batch":{"post":{"operationId":"post_v1_metrics_batch","tags":["metrics"]}},"/v1/metrics/health":{"get":{"operationId":"get_v1_metrics_health","tags":["metrics"]}},"/v1/metrics/query":{"get":{"operationId":"get_v1_metrics_query","tags":["metrics"]}},"/v1/metrics/write":{"post":{"operationId":"post_v1_metrics_write","tags":["metrics"]}},"/v1/ml/health":{"get":{"operationId":"get_v1_ml_health","tags":["ml"]}},"/v1/ml/models":{"get":{"operationId":"get_v1_ml_models","tags":["ml"]},"post":{"operationId":"post_v1_ml_models","tags":["ml"]}},"/v1/ml/models/{name}":{"delete":{"operationId":"delete_v1_ml_models_by_name","tags":["ml"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_ml_models_by_name","tags":["ml"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_ml_models_by_name","tags":["ml"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/ml/models/{name}/predict":{"post":{"operationId":"post_v1_ml_models_by_name_predict","tags":["ml"],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/networks":{"get":{"operationId":"get_v1_networks","tags":["networks"]}},"/v1/networks/{id}":{"get":{"operationId":"get_v1_networks_by_id","tags":["networks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/notify/health":{"get":{"operationId":"get_v1_notify_health","tags":["notify"]}},"/v1/notify/send":{"post":{"operationId":"post_v1_notify_send","tags":["notify"]}},"/v1/notify/send/email":{"post":{"operationId":"post_v1_notify_send_email","tags":["notify"]}},"/v1/notify/send/sms":{"post":{"operationId":"post_v1_notify_send_sms","tags":["notify"]}},"/v1/o11y/annotation-queues":{"get":{"operationId":"get_v1_o11y_annotation-queues","tags":["o11y"]},"post":{"operationId":"post_v1_o11y_annotation-queues","tags":["o11y"]}},"/v1/o11y/annotation-queues/{id}":{"delete":{"operationId":"delete_v1_o11y_annotation-queues_by_id","tags":["o11y"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_o11y_annotation-queues_by_id","tags":["o11y"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_o11y_annotation-queues_by_id","tags":["o11y"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/o11y/annotation-queues/{id}/items":{"get":{"operationId":"get_v1_o11y_annotation-queues_by_id_items","tags":["o11y"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_o11y_annotation-queues_by_id_items","tags":["o11y"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/o11y/annotation-queues/{id}/items/{itemId}":{"patch":{"operationId":"patch_v1_o11y_annotation-queues_by_id_items_by_itemid","tags":["o11y"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/o11y/health":{"get":{"operationId":"get_v1_o11y_health","tags":["o11y"]}},"/v1/o11y/ingestion":{"post":{"operationId":"post_v1_o11y_ingestion","tags":["o11y"]}},"/v1/o11y/logs":{"get":{"operationId":"get_v1_o11y_logs","tags":["o11y"]}},"/v1/o11y/metrics":{"get":{"operationId":"get_v1_o11y_metrics","tags":["o11y"]}},"/v1/o11y/query":{"post":{"operationId":"post_v1_o11y_query","tags":["o11y"]}},"/v1/o11y/query_range":{"post":{"operationId":"post_v1_o11y_query_range","tags":["o11y"]}},"/v1/o11y/sessions":{"get":{"operationId":"get_v1_o11y_sessions","tags":["o11y"]}},"/v1/o11y/status":{"get":{"operationId":"get_v1_o11y_status","tags":["o11y"]}},"/v1/o11y/vm/query":{"get":{"operationId":"get_v1_o11y_vm_query","tags":["o11y"]}},"/v1/o11y/vm/query_range":{"get":{"operationId":"get_v1_o11y_vm_query_range","tags":["o11y"]}},"/v1/o11y/{wildcard1}":{"delete":{"operationId":"delete_v1_o11y_by_wildcard1","tags":["o11y"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_o11y_by_wildcard1","tags":["o11y"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"options":{"operationId":"options_v1_o11y_by_wildcard1","tags":["o11y"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"patch_v1_o11y_by_wildcard1","tags":["o11y"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_o11y_by_wildcard1","tags":["o11y"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"put":{"operationId":"put_v1_o11y_by_wildcard1","tags":["o11y"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]},"trace":{"operationId":"trace_v1_o11y_by_wildcard1","tags":["o11y"],"parameters":[{"name":"wildcard1","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/openapi.json":{"get":{"operationId":"get_v1_openapi.json"}},"/v1/oracles":{"get":{"operationId":"get_v1_oracles","tags":["oracles"]}},"/v1/orgs/{org}/entitlements":{"get":{"operationId":"get_v1_orgs_by_org_entitlements","tags":["orgs"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_orgs_by_org_entitlements","tags":["orgs"],"parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/paas/apps":{"get":{"operationId":"get_v1_paas_apps","tags":["paas"]}},"/v1/paas/apps/{app}":{"get":{"operationId":"get_v1_paas_apps_by_app","tags":["paas"],"parameters":[{"name":"app","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/paas/apps/{app}/deploy":{"post":{"operationId":"post_v1_paas_apps_by_app_deploy","tags":["paas"],"parameters":[{"name":"app","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/paas/health":{"get":{"operationId":"get_v1_paas_health","tags":["paas"]}},"/v1/pipelines":{"get":{"operationId":"get_v1_pipelines","tags":["pipelines"]}},"/v1/plans":{"get":{"operationId":"get_v1_plans","tags":["plans"]}},"/v1/plans/blockchain":{"get":{"operationId":"get_v1_plans_blockchain","tags":["plans"]}},"/v1/plans/cloud":{"get":{"operationId":"get_v1_plans_cloud","tags":["plans"]}},"/v1/plans/dns":{"get":{"operationId":"get_v1_plans_dns","tags":["plans"]}},"/v1/plans/entitlements/{id}":{"get":{"operationId":"get_v1_plans_entitlements_by_id","tags":["plans"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/plans/gpu":{"get":{"operationId":"get_v1_plans_gpu","tags":["plans"]}},"/v1/plans/health":{"get":{"operationId":"get_v1_plans_health","tags":["plans"]}},"/v1/plans/policy":{"get":{"operationId":"get_v1_plans_policy","tags":["plans"]}},"/v1/plans/regions":{"get":{"operationId":"get_v1_plans_regions","tags":["plans"]}},"/v1/plans/resolve/{id}":{"get":{"operationId":"get_v1_plans_resolve_by_id","tags":["plans"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/plans/schema":{"get":{"operationId":"get_v1_plans_schema","tags":["plans"]}},"/v1/plans/storage":{"get":{"operationId":"get_v1_plans_storage","tags":["plans"]}},"/v1/plans/subscriptions":{"get":{"operationId":"get_v1_plans_subscriptions","tags":["plans"]}},"/v1/plans/tools":{"get":{"operationId":"get_v1_plans_tools","tags":["plans"]}},"/v1/plans/vocab":{"get":{"operationId":"get_v1_plans_vocab","tags":["plans"]}},"/v1/platform/health":{"get":{"operationId":"get_v1_platform_health","tags":["platform"]}},"/v1/platform/projects":{"get":{"operationId":"get_v1_platform_projects","tags":["platform"]},"post":{"operationId":"post_v1_platform_projects","tags":["platform"]}},"/v1/platform/projects/{project}":{"delete":{"operationId":"delete_v1_platform_projects_by_project","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_platform_projects_by_project","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/platform/projects/{project}/apps":{"get":{"operationId":"get_v1_platform_projects_by_project_apps","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_platform_projects_by_project_apps","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/platform/projects/{project}/apps/{app}":{"delete":{"operationId":"delete_v1_platform_projects_by_project_apps_by_app","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"app","in":"path","required":true,"schema":{"type":"string"}}]},"get":{"operationId":"get_v1_platform_projects_by_project_apps_by_app","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"app","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/platform/projects/{project}/apps/{app}/deploy":{"post":{"operationId":"post_v1_platform_projects_by_project_apps_by_app_deploy","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"app","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/platform/projects/{project}/apps/{app}/deployments":{"get":{"operationId":"get_v1_platform_projects_by_project_apps_by_app_deployments","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"app","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/platform/projects/{project}/apps/{app}/deployments/{id}":{"get":{"operationId":"get_v1_platform_projects_by_project_apps_by_app_deployments_by_id","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"app","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs":{"get":{"operationId":"get_v1_platform_projects_by_project_apps_by_app_deployments_by_id_logs","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"app","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/platform/projects/{project}/apps/{app}/domains":{"get":{"operationId":"get_v1_platform_projects_by_project_apps_by_app_domains","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"app","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"post_v1_platform_projects_by_project_apps_by_app_domains","tags":["platform"],"parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"app","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/platform/projects/{project}/apps/{app}/domains/{host}":{"delete":{"operationId":"delete_v1_platform_projects_by_project_apps_by_app_domains_by_host","tags":["platform"],"parameters":[{"name":"proje
[...]
